[user]
	name = Jean Duprat
	email = jean@ifeelgoods.com
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch -v
	ba = branch -av
	oops = commit --amend -C HEAD
	history = log --graph --pretty=format:'%Cred%h%Creset%d -%Cblue %s%Creset %Cgreen(%ar) %Cblue<%an>%Creset' --abbrev-commit --date=relative
	s = status -s
[color]
	status = auto
	diff = auto
	branch = auto
[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
